{{ 'collection-top.css' | asset_url | stylesheet_tag }}
<!-- sections/collection-template.liquid -->
<div class="p-4 space-y-4 pb-0 sl-container xl:py-6 xl:px-0">
  {%- render 'breadcrumbs' -%}
</div>
<section class="collection-top">
  <!-- Collection Top -->
  <h1 class="collection-title">מיטות זוגיות</h1>
  <p class="collection-description">
    גלה את המגוון הרחב של מיטות זוגיות איכותיות שלנו. עיצובים מודרניים וקלאסיים, חומרים איכותיים ומחירים אטרקטיביים.
    מיטות זוגיות למכירה
  </p>
</section>
