{%- capture cssVariables -%}
  --section-bg-color: {{- section.settings.bg_color -}};
{%- endcapture -%}

<div class="py-6 px-4 xl:py-14 xl:px-0  bg-[--section-bg-color]" style="{{ cssVariables }}">
  <div class="sl-container">
    <span class="block section-title">{{ section.settings.heading }}</span>

    <div class="mt-12 space-y-10 xl:mt-14 lg:space-y-0 lg:space-x-reverse lg:space-x-4 lg:flex">
      {% comment %}
        WhatsApp
      {% endcomment %}
      {% render 'contact', type: 'whatsapp', class: 'lg:mt-0' %}

      {% comment %}
        Email
      {% endcomment %}
      {% render 'contact', type: 'email' %}

      {% comment %}
        Phone
      {% endcomment %}
      {% render 'contact', type: 'phone' %}
    </div>
  </div>
</div>

{%- schema %}
{
  "name": "Contacts",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "אנחנו פה לכל שאלה "
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Section background color",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "paragraph",
      "content": "To edit whatsapp number go to Theme settings > Contacts > WhatsApp number."
    },
    {
      "type": "paragraph",
      "content": "For other changes, please go to the Settings > Store details > Profile."
    }
  ]
}
{%- endschema %}
