{%- capture cssVariables -%}
  --section-bg-image: url('{{- section.settings.bg_image | image_url -}}');
{%- endcapture -%}

<div
    class="bg-brand-30 pb-8 bg-[url:var(--section-bg-image)] bg-[left_top_1rem] bg-repeat xl:bg-none xl:pb-14"
    style="{{ cssVariables | strip }}"
>
  <div class="px-4 pt-8 pb-6 xl:py-14 sl-container xl:px-0">
    <h1 class="section-title">{{ section.settings.heading }}</h1>
    <h2 class="text-brand-700 text-center lg:mb-3 xl:text-2xl xl:mt-2 xl:mb-14">{{ section.settings.sub_heading }}</h2>
    <div class="flex flex-wrap justify-center mt-6 xl:mt-8 lg:grid lg:grid-cols-5 lg:gap-x-6">
      {% for block in section.blocks %}
        <div class="flex-[0_0_30%] [&:nth-child(n+4)]:mt-4 [&:nth-child(3n)]:ml-0 ml-4 aspect-w-1 pt-[15%]
        lg:flex-1 lg:m-0 lg:aspect-w-[2.5] lg:aspect-h-1 lg:pt-0 lg:[&:nth-child(n+4)]:mt-0">
          <div class="bg-white rounded-lg py-2 px-3.5 flex justify-center items-center xl:px-10 xl:py-2.5">
            {%-
                render 'image-with-placeholder',
                image: block.settings.logo,
                title: block.settings.logo.alt,
                width: 210,
                class: 'w-full h-full object-contain'
            -%}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="sl-container">
    {%- render 'products-slideshow', products: section.settings.collection.products -%}
  </div>

  {%-
    render 'button',
    url: section.settings.collection.url,
    content: section.settings.btn_text,
    class: 'btn-primary w-fit min-w-[180px] mx-auto mt-6 xl:mt-14 xl:min-w-[200px]'
  -%}
</div>

{%- schema %}
{
  "name": "Hotel logos",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "מזרנים בהתאמה אישית"
    },
    {
      "type": "text",
      "id": "sub_heading",
      "label": "Sub Heading",
      "default": "ספק המזרנים של מלונות היוקרה"
    },
    {
    "type": "collection",
    "id": "collection",
    "label": "Collection",
    "info": "Select a collection to display"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button text",
      "default": "לכל המיטות המתכווננות"
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background image",
      "info": "Background position is left top, repeat both directions"
    }
  ],
  "blocks": [
    {
      "type": "logo",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"
        }
      ]
    }
  ]
}
{%- endschema %}
