{%- capture cssVariables -%}
  --section-bg-color: {{- section.settings.bg_color -}};
{%- endcapture -%}

<div
  class="pb-8 bg-[--section-bg-color] xl:pb-14"
  style="{{ cssVariables | strip }}"
>
  <div class="px-4 pt-8 pb-6 xl:pt-14 xl:pb-8">
    <p class="section-title">{{ section.settings.heading }}</p>
  </div>

  <div class="sl-container">
    {%- render 'custom-slideshow', blocks: section.blocks, product: product -%}
  </div>
</div>

{%- schema %}
{
  "name": "Custom slideshow",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "הטכנולוגיה של סיילי"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#F5FAFF"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "video",
          "id": "video",
          "label": "Upload video"
        },
        {
          "type": "video_url",
          "id": "video_url",
          "label": "Video URL",
          "info": "If video is uploaded, video URL will be ignored",
          "accept": [
            "youtube"
          ]
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "If video is uploaded, image will be ignored"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading",
          "info": "direction: ltr"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "product_list",
          "id": "products_hidden_list",
          "label": "Hide this slide on selected products",
          "limit": 50
        }
      ]
    }
  ]
}
{%- endschema %}
