<mega-menu class="xl:block xl:z-30 xl:relative">
  {%- comment -%}
    This menu renders as placeholder for the mega menu to prevent layout shift.
    The actual menu is rendered by the mega-menu component.
    The menu file which is loaded by the mega-menu component is static__mega-menu.liquid
  {%- endcomment -%}
  <ul class="flex px-8 shadow-sl-24">
    {%- for mainLinkItem in linklists.main-menu.links -%}
      {%- liquid
        assign title_array = mainLinkItem.title | split: '|'
        assign mainLinkItemTitle = title_array[0] | strip
        assign mainLinkItemIconName = ''
        assign mainLinkItemPosition = 'right'

        for title_array_item in title_array offset: 1
          assign title_array_item_adjusted = title_array_item | strip

          if title_array_item_adjusted contains 'icon'
            assign mainLinkItemIconName = title_array_item_adjusted | split: ':' | last | strip
          elsif title_array_item_adjusted == 'left'
            assign mainLinkItemPosition = 'left'
          endif
        endfor
      -%}

      <li class="group px-6 first:pr-0 last:pl-0 {% if mainLinkItemPosition == 'left' %} mr-[auto]{% endif %}">
        <a
          class="block text-brand-600 font-bold py-3 {% if collection.url == mainLinkItem.url -%}sl-menu-current{%- endif %} 2xl:text-lg"
          href="{{ mainLinkItem.url }}">
          {% if mainLinkItemIconName != blank %}
            <img src="{{ mainLinkItemIconName | file_url }}" alt="{{ mainLinkItemTitle }}" class="h-7 inline-block ml-2">
          {% endif %}

          {{ mainLinkItemTitle }}
        </a>
      </li>
    {%- endfor -%}
  </ul>
</mega-menu>

{%- schema -%}
{
  "name": "Header mega menu",
  "class": "section_header__mega-menu",
  "enabled_on": {
    "groups": ["header"]
  }
}
{%- endschema -%}
