<h1 class="text-lg font-bold px-4 my-4 xl:text-[1.8rem] xl:my-6 xl:pr-8 xl:pl-0">{{- product.title -}}</h1>

{%- schema -%}
{
  "name": "Product meta",
  "class": "product-meta-section"
}
{%- endschema -%}
