<div class="py-6 px-4 bg-brand-30 xl:py-14">
  <div class="rounded-lg p-6 bg-white space-y-4 shadow-[0_0_16px_0_rgba(0,0,0,0.06)] sl-container xl:py-14 xl:px-30 xl:space-y-6">
    <div class="text-center px-6 space-y-3 xl:space-y-6">
      <span class="block text-2xl font-bold bg-clip-text text-transparent bg-brand-gradient-bg-2 xl:text-40p xl:relative">
        מותג המזרנים האמין ביותר בארה”ב
        <img
          class="hidden xl:block xl:absolute xl:left-[31%] xl:-bottom-2.5 xl:w-52 xl:h-2"
          src="{{ 'icon--subscribe_underline.svg' | asset_url }}" alt="Underline decoration"
        />
      </span>
      <ul class="flex flex-col items-start text-grey-900/60 text-xs max-w-[22.81rem] mx-auto xl:max-w-none xl:flex-row xl:items-center xl:justify-center xl:text-2xl xl:space-x-reverse xl:space-x-4">
        <li>{%- render 'icon', name: 'checkmark-gr', class: 'w-4 h-4 inline-block mx-0.5 xl:w-8 xl:h-8' -%} מעל 100 מליון מזרנים נמכרו בעולם</li>
        <li>{%- render 'icon', name: 'checkmark-gr', class: 'w-4 h-4 inline-block mx-0.5 xl:w-8 xl:h-8' -%} 143 שנים של ניסיון , ידע ואיכות בייצור מזרנים </li>
      </ul>
      <span class="block font-bold bg-clip-text text-transparent bg-brand-gradient-bg-2 xl:text-2xl">הצטרפו למועדון המעריצים של סילי וקבלו ראשונים עדכונים על הטבות ומבצעים בלעדיים </span>

    </div>

    {%- form 'customer' -%}
      <input type="hidden" name="contact[tags]" value="newsletter">

      <div class="space-y-4 max-w-[22.81rem] mx-auto">
        {%- if form.posted_successfully? -%}
          <span
              dir="ltr"
              class="block text-green-600 text-lg focus:outline-none text-center"
              id="ContactFooter-success"
              autofocus
          >
            תודה שנרשמת למועדון הלקוחות של סילי
          </span>
        {%- else -%}
          <input
              type="text"
              name="contact[first_name]"
              placeholder="שם מלא"
              class="py-3.5 px-4 leading-normal border border-grey-300 rounded-lg shadow-sm shadow-grey-900/5 w-full placeholder-grey-900/60 focus:outline-brand-500/70"
          />
          <input
              type="email"
              required
              name="contact[email]"
              placeholder="דואר אלקטרוני"
              class="py-3.5 px-4 leading-normal border border-grey-300 rounded-lg shadow-sm shadow-grey-900/5 w-full placeholder-grey-900/60 focus:outline-brand-500/70"
          />
          <input
              type="tel"
              pattern="\+?\d+"
              name="contact[note]"
              placeholder="מספר טלפון"
              class="[direction:rtl] py-3.5 px-4 leading-normal border border-grey-300 rounded-lg shadow-sm shadow-grey-900/5 w-full placeholder-grey-900/60 focus:outline-brand-500/70"
          />

          <label class="flex space-x-reverse space-x-2 xl:items-center xl:hover:cursor-pointer text-grey-450">
            <input
              class="peer"
              hidden
              type="checkbox"
              checked
              name="accepts_marketing"
              required
            />
            <span class="h-3.5 mt-0.5 flex-[0_0_0.85rem] peer-checked:[&>.icon--cb-checked]:block peer-checked:[&>.icon--cb-unchecked]:hidden xl:mt-0">
              {%- render 'icon', name: 'checkbox-unchecked', class: 'w-full h-full icon--cb-unchecked' -%}
              {%- render 'icon', name: 'checkbox-checked', class: 'w-full h-full icon--cb-checked hidden' -%}
            </span>
            <span class="text-xsm">אישור לקבלת מבצעים/הנחות והטבות בדוא"ל/SMS</span>
          </label>

          {%- render 'button', size: 'lg', attrs: 'type="submit"', class: 'w-full btn-gradient', content: 'צרפו אותי' -%}

          {%- if form.errors -%}
            <span
                dir="ltr"
                class="block text-red-600 text-lg focus:outline-none text-center"
                id="ContactFooter-error"
                autofocus
            >
              {{- form.errors.translated_fields.email | capitalize }}
              {{ form.errors.messages.email -}}
            </span>
          {%- endif -%}
        {%- endif -%}
      </div>

      {% comment %} Recaptcha fix {% endcomment %}
      {%- if request.path contains 'challenge' -%}
        <script>
          window.onload = () => {
            let times = 10
            const recaptchaFixInterval = setInterval(() => {
              const $recaptcha = document.querySelector('.shopify-challenge__container')

              if ($recaptcha === null) {
                times--
                if (times === 0) clearInterval(recaptchaFixInterval)
                return
              }

              clearInterval(recaptchaFixInterval)

              const $form = document.querySelector('#contact_form')
              if ($form === null) return

              $form.after($recaptcha)
              $form.style.display = 'none'
            }, 500)
          }
        </script>
      {%- endif -%}

    {%- endform -%}

    <style>
      .grecaptcha-badge {
        visibility: hidden;
          z-index: -999999;
      }
    </style>
  </div>
</div>

{%- schema -%}
{
  "name": "Footer sub newsletter"
}
{%- endschema -%}
