.collection-wrapper {
  background: linear-gradient(to bottom, #ffffff 0%, #f4efec 100%);
}
/* Collection Top */
.collection-top {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 120px;
  text-align: right;
  outline: 1px dotted blue;
}

.collection-title {
  font-size: 42px;
  color: #dd2d4a;
  font-weight: 700;
}

.collection-description {
  font-size: 18px;
  color: #5f626a;
  line-height: 1.6;
  max-width: 580px;
}
