.faq-section {
  padding: 70px 20px;
  background-color: #ffffff;
  direction: rtl;
}

.faq-container {
  max-width: 625px;
  margin: 0 auto;
}

.faq-title {
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.faq-item {
  border-bottom: 1px solid #D1D5DD;
}

.faq-question {
  padding: 20px 0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  transition: all 0.3s ease;
}

.faq-question:hover {
  color: #666;
}

.faq-icon {
  margin-left: 5px;
  transition: transform 0.3s ease;
  flex-shrink: 0;
}

.faq-icon.active {
  transform: rotate(45deg);
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  background-color: #ffffff;
}

.faq-answer.active {
  max-height: 200px;
}

.faq-answer-content {
  padding: 0 0 20px 0;
  font-size: 16px;
  line-height: 1.6;
  color: #666;
}

.faq-item:last-child {
  border-bottom: none;
}

/* Responsive design */
@media (max-width: 768px) {
  .faq-icon {
    width: 10px;
    height: 10px;
    margin-left: 5px !important;
  }
  .faq-section {
    padding: 40px 15px;
  }
  
  .faq-title {
    font-size: 26px;
    margin-bottom: 18px;
  }
  
  .faq-question {
    padding: 12px 0 !important;
    font-size: 16px;
  }
  
  .faq-answer-content {
    font-size: 14px;
  }
}